body {
  margin: 0px;
  height: 100vh;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer {
  background-color: rgb(58, 66, 87);
}

.footer {
  margin: 0px;
  justify-content: center;
  height: 70px;
  display: flex;
  align-items: center;
}

a {
  color: rgb(255, 56, 56);
  font-weight: 550;
  text-decoration: none;
  flex-shrink: 0;
}

.header-top a {
  background-color: rgb(36, 40, 53);
  border-radius: 16px;
  padding: 6px 10px;
  border: 2px solid rgb(194, 50, 50);
}

.header-top a:hover {
  background-color: rgb(80, 91, 119);
}

.footer a:hover {
  color: #b884fc;
}

.header-top {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header #logo-icon {
  width: 65px;
  height: 60px;
  flex-shrink: 0;
}
.header #logo-container {
  width: 80px;
  height: 80px;
  background-color: rgb(36, 40, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid rgb(100, 114, 148);
}

#logo-container div {
  width: 5px;
}

.header-top h1 {
  color: rgb(231, 25, 25);
  font-size: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 40px 120px;
  gap: 40px;
}

#desktop-setup-img {
  width: 40%;
  border-radius: 5px;
  height: auto;
}

.header-content {
  display: flex;
  gap: 40px;
}

.header-content h1 {
  color: white;
  font-size: 36px;
}

.header-content p {
  color: rgb(214, 220, 226);
}

.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card img {
  border-radius: 9px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 70px;
}

.flexible {
  flex-grow: 1;
}

.phrase {
  background-color: rgb(213, 219, 219);
  padding:40px 20%;
}
.phrase .text {
  font-style: italic;
  font-size: 20px;
  font-weight: 100;
}

.phrase .right, .phrase .author {
  text-align: right;
}

.author {
  font-weight: 900;
}